@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
  list-style-type: none;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  background-color: #121214;
  font-family: "Poppins", sans-serif;
  color: white;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 980px;
  margin: 0 auto;
}

.header .logo {
  max-width: 200px;
}

.header a {
  color: white;
}

.header a:hover {
  color: #857d7d;
}

.header .iconsSocialNetwork {
  max-width: 30px;
  -webkit-filter: invert(100%);
          filter: invert(100%);
  margin-left: 20px;
}

.header .iconsSocialNetwork:hover {
  -webkit-filter: invert(50%);
          filter: invert(50%);
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.main {
  text-align: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1280px;
  margin: 0 auto;
}

.main h1 {
  font-size: 2.8em;
  margin: 20px 0 20px 0;
}

.main p {
  margin: 15px 0;
}

.main .imgBG {
  padding-top: 25px;
  max-width: 350px;
  margin: 0 auto;
}

.footer {
  text-align: center;
  width: 100%;
  position: relative;
  bottom: -80px;
}

@media screen and (min-width: 320px) {
  .header {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header .logo {
    max-width: 150px;
  }
  .header .iconsSocialNetwork {
    max-width: 15px;
    margin: 0 10px;
  }
  .main {
    height: 70vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    text-align: center;
    max-width: 320px;
  }
  .main h1 {
    font-size: 1.5em;
    margin: 80px 0 20px 0;
  }
  .main p {
    margin: 0;
    padding: 10px;
  }
  .main .imgBG {
    padding-top: 25px;
    max-width: 260px;
  }
  .footer {
    font-size: 0.8em;
    top: -30%;
  }
}

@media screen and (min-width: 600px) {
  .header {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .header .logo {
    max-width: 180px;
  }
  .header .iconsSocialNetwork {
    max-width: 20px;
  }
  .main {
    max-width: 720px;
  }
  .main h1 {
    font-size: 2em;
  }
  .main .imgBG {
    max-width: 320px;
  }
  .footer {
    text-align: center;
  }
}

@media screen and (min-width: 1120px) {
  .header {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    max-width: 980px;
  }
  .header .iconsSocialNetwork {
    max-width: 25px;
  }
  .header .iconsSocialNetwork:hover {
    -webkit-filter: invert(50%);
            filter: invert(50%);
    -webkit-transition: 0.6s;
    transition: 0.6s;
  }
  .main {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}
/*# sourceMappingURL=styles.css.map */