@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
  list-style-type: none;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  background-color: #121214;
  font-family: "Poppins", sans-serif;
  color: white;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 980px;
  margin: 0 auto;
  .logo {
    max-width: 200px;
  }

  a {
    color: white;
  }
  a:hover {
    color: #857d7d;
  }

  .iconsSocialNetwork {
    max-width: 30px;
    filter: invert(100%);
    margin-left: 20px;
  }
  .iconsSocialNetwork:hover {
    filter: invert(50%);
    transition: 0.6s;
  }
}
.main {
  text-align: center;
  justify-content: space-between;
  max-width: 1280px;
  margin: 0 auto;
  h1 {
    font-size: 2.8em;
    margin: 20px 0 20px 0;
  }
  p {
    margin: 15px 0;
  }
  .imgBG {
    padding-top: 25px;
    max-width: 350px;
    margin: 0 auto;
  }
}

.footer {
  text-align: center;
  width: 100%;
  position: relative;
  bottom: -80px;
}
@media screen and (min-width: 320px) {
  .header {
    justify-content: center;
    flex-direction: column;
    align-items: center;
    .logo {
      max-width: 150px;
    }

    .iconsSocialNetwork {
      max-width: 15px;
      margin: 0 10px;
    }
  }
  .main {
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    max-width: 320px;
    h1 {
      font-size: 1.5em;
      margin: 80px 0 20px 0;
    }
    p {
      margin: 0;
      padding: 10px;
    }
    .imgBG {
      padding-top: 25px;
      max-width: 260px;
    }
  }

  .footer {
    font-size: 0.8em;
    top: -30%;
  }
}

@media screen and (min-width: 600px) {
  .header {
    flex-direction: row;
    justify-content: space-around;
    .logo {
      max-width: 180px;
    }

    .iconsSocialNetwork {
      max-width: 20px;
    }
  }
  .main {
    max-width: 720px;
    h1 {
      font-size: 2em;
    }
    .imgBG {
      max-width: 320px;
    }
  }

  .footer {
    text-align: center;
  }
}

@media screen and (min-width: 1120px) {
  .header {
    justify-content: space-between;
    max-width: 980px;
    .iconsSocialNetwork {
      max-width: 25px;
    }
    .iconsSocialNetwork:hover {
      filter: invert(50%);
      transition: 0.6s;
    }
  }

  .main {
    justify-content: space-around;
  }
}
